*, *:after, *:before
  box-sizing: border-box
  outline: none
img
  max-width: 100%
html
  font-size: 10px
body
  font-family: 'Futura Book'
.btn
  font-size: 13px
  +demi
  text-transform: uppercase
  color: $light
  border: none
  border-radius: 2px
  &_outline
    background: transparent
    border: 1px solid $light
  &_primary
    background-color: $primary
    border: 1px solid $primary
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2)
  &_big-size
    font-size: 15px


  