@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/Futura_Book/FuturaBookC.eot");
  src: url("../fonts/Futura_Book/FuturaBookC.woff") format("woff"), url("../fonts/Futura_Book/FuturaBookC.woff2") format("woff2"), url("../fonts/Futura_Book/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/Futura_Demi/FuturaDemiC.eot");
  src: url("../fonts/Futura_Demi/FuturaDemiC.woff") format("woff"), url("../fonts/Futura_Demi/FuturaDemiC.woff2") format("woff2"), url("../fonts/Futura_Demi/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

*, *:after, *:before {
  box-sizing: border-box;
  outline: none; }

img {
  max-width: 100%; }

html {
  font-size: 10px; }

body {
  font-family: 'Futura Book'; }

.btn {
  font-size: 13px;
  font-family: 'Futura Demi';
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 2px; }
  .btn_outline {
    background: transparent;
    border: 1px solid #fff; }
  .btn_primary {
    background-color: #e3b873;
    border: 1.5px solid #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    transition: all 0.3s; }
    .btn_primary:hover {
      box-shadow: none;
      color: #e3b873;
      background: transparent; }
  .btn_big-size {
    font-size: 15px; }

.thanks {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f7f7f7; }
  .thanks-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 50.6rem;
    width: 100%;
    padding: 3rem 4rem;
    color: #fff;
    background: #131313 url("../img/line-bg.svg") no-repeat center/cover;
    border-radius: 10px; }
    .thanks-container__heading {
      margin-bottom: 2rem;
      font-size: 2.5rem;
      font-family: 'Yeseva One', cursive;
      text-transform: uppercase;
      text-align: center; }
    .thanks-container__text {
      margin-bottom: 5rem;
      text-align: center;
      font-size: 2rem;
      line-height: 2.7rem; }
    .thanks-container__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      width: 22rem;
      height: 5.1rem;
      font-size: 15px;
      font-family: 'Futura Demi';
      text-transform: uppercase;
      color: #fff;
      background: #e3b873;
      text-decoration: none;
      box-shadow: 0 5px 0 #d69833;
      border-radius: 4px;
      transform: translateY(-5px);
      transition: all 0.1s; }
      .thanks-container__btn:active {
        transform: translateY(0px);
        box-shadow: none; }
